html{
    background-image: url('../img/bk.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
}

h1{
    margin: 60px 10px;
    text-transform: uppercase;
    color: #4d79ff;
    font-size: 40px;
}
h2{
    text-transform: uppercase;
    color: #4d79ff;
    font-size: 20px;
}

div.main{
    background: white;
    padding: 10px 10px 10px 10px;
    opacity: 0.8;
    position: absolute;
    left: 25%;
    width: 50%;
    border-radius: 20px;
}

p{
    color: black;
}

hr{
    text-align: center;
    width: 50%;
}

input[type="text"]{
    margin: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline:none;
    width: 80%;
}

input[type="text"]:focus{
    border: 3px solid #555;
}

button{
    padding: 10px 10px;
    margin: 10px;
}

button:hover{
    cursor: pointer;
}