<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="icon" href="./img/wth.png">
    <title>Document</title>
</head>
<body>
    <div>
        {{>header}}
    </div>
    <div class="main">
        <form name="weatherForm">
            <input  type="text"
                    class="txtWeather"
                    placeholder="Location..."
                    size="20" />
            <button id="btnW">Find weather</button>
            
        </form>
        <p id="location">Type the city to find out the weather.</p>
        <p id="weatherMsg"></p>
        {{>para}}
    </div>
    <script src="./js/app.js"></script>
</body>s
</html>